<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="searchEnginesConfig" type="SearchEngineApi.Configuration.SearchEnginesConfigurationSection, SearchEngineApi"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <searchEnginesConfig>
      <searchEngines>
        <searchEngine id="Google" type="Json" active="true" paramQuery="q" resultPath="queries.request[0].totalResults">
          <baseAddress value="https://www.googleapis.com/customsearch/v1"/>
          <parameters>
            <parameter key="key" value="AIzaSyCTJPIwxSqAVoNinC5bawYwCDhPwg9amQY"/>
            <parameter key="cx" value="b8d2a209fb80b254f"/>
          </parameters>
        </searchEngine>
        <searchEngine id="StackOverflow" type="Json" active="true" paramQuery="tagged" resultPath="total">
          <baseAddress value="https://api.stackexchange.com/2.2/questions"/>
          <parameters>
            <parameter key="site" value="stackoverflow"/>
            <parameter key="filter" value="!)5IW-1CBJh-k0T7yaaeIb-x.ja4t"/>
          </parameters>
        </searchEngine>
      </searchEngines>
    </searchEnginesConfig>
</configuration>